---
layout: default
title: Eric Lu - Tech Guru, Full-stack Developer, Node.js Lover
description: "Eric Lu is an avid tech fanatic who often provides refreshing insights on new and upcoming technologies. He is a full-stack developer and tech consultant experienced in devops and processes including development, testing, continuous integration and deployment."
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Eric Lu",
  "url" : "http://www.ericluwj.com",
  "sameAs" : [
    "https://www.facebook.com/ericluwj",
    "https://twitter.com/ericluwj",
    "https://plus.google.com/+ericluwj"
  ]
}
</script>